#trip-form {
  /* visibility: hidden; */
  display: none;
}

#trip-event-form {
  /* visibility: hidden; */
  display: none;
}

.event-img {
  max-width: 25%;
}



.add-events {
  max-width: 15%;
  text-align: center;
}

.inline {
  display: inline-block;
  margin-left: 40%;
}

#trips-list > div:nth-child(odd) {
  background-color: grey;
}

.trip-info:hover {
  background-color: red;
  /* filter: brightness(85%); */
  /* opacity: .5; */
}

.bottom-span {
  display: block;
}
