
body *{
  font-family: 'Libre Baskerville', sans-serif;

}

body {
  background-color: #e3f2fd;
}
#show-container {
  background-color: #e3f2fd;
}

#trips-container {
  background-color: #e3f2fd;

}
div.actions {
  background-color: white;
  color: white;
}
.main {
  background-color: #e3f2fd;

}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.mb-0, .my-0 {
    margin-bottom: 0!important;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
}
/*
.trip-div {
  margin-top: -20px;
} */

.polaroid-caption{
  padding-top: 5%;
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
}

img {
  width: 100%;
  height: 100%;
}

.image-link:active{
  text-decoration: none;
  color: #2C2525;
}
.image-link:hover {
  text-decoration: none;
  color: #2C2525;
}

.image-link{
  text-decoration: none;
  color: #2C2525;
}
.event-img {
  /* width: 100%; */
  /* height: 60%; */
    background: white;
    display: inline;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
    position:relative;
}

.nested-event-info{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  clear: both;
}
.event-info{
  /* background-color: #fecd2f; */
  margin: 10px;
  text-align: center;
  /* border-radius: 50%; */
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
}


.event-info:hover{
  transform: scale(1.02);

}


/*
.add-events {
  max-width: 15%;
  align-content: center;
  margin-left: 40%;
} */

.add-events.ui.grey.button{
  max-width: 15%;
  align-content: center;
  margin-left: 40%;
}

#show-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}



/* .event-info {
 display: grid;
 float: left;

} */

.inline {
  display: inline-block;
  margin-left: 40%;
}
.event-inline{
  display: inline-block;
}

/* #trips-list > div:nth-child(odd) {
  background-color: grey;
} */



.trip-info:hover {
  /* background-color: red; */
  /* filter: brightness(85%); */
  /* opacity: .5; */
}

.trip-div:hover {
  -webkit-filter: brightness(125%);
    cursor: pointer;
  }

}

.event-category-div{
  display: none;
}

.bottom-span {
  display: block;
}

.trip-info {
  padding-top: 25px;
}

.bottom-span.inline.bold {
  font-weight: bold;
}

#restaurant-grid-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr) !important;
}

#bars-grid-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr) !important;
}

#landmarks-grid-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr) !important;
}
#parks-grid-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr) !important;
}

#museums-grid-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr) !important;
}

#restaurants-events h3{

 margin-left: 40%;
}

#bars-events h3{

margin-left: 40%;
}

#landmarks-events h3{

margin-left: 40%;
}

#parks-events h3{

margin-left: 40%;
}

#museums-events h3 {

  margin-left: 40%;
}

#restaurants-events{


}

/* #bars-events{

background-color: #0B76C4
}

#landmarks-events{

background-color: #FF5669
}

#parks-events{

background-color: #FFDCD9
}

#museums-events {

  background-color: #EBF2F5
} */
