
body * {
  font-family: 'Libre Baskerville', sans-serif;
}

#trip-form {
  /* visibility: hidden; */
  /* display: none; */
}

#trip-event-form {
  /* visibility: hidden; */
  /* display: none; */
}

.event-img {
  width: 50%;
  padding: 15px;
}

.event-info{
  background-color: #fecd2f;
  margin: 10px;
  text-align: center;
}

.event-info:hover{
  transform: scale(1.02);

}



.add-events {
  max-width: 15%;
  align-content: center;
  margin-left: 40%;
}

#show-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* .event-info {
 display: grid;
 float: left;

} */

.inline {
  display: inline-block;
  margin-left: 40%;
}
.event-inline{
  display: inline-block;
}

#trips-list > div:nth-child(odd) {
  background-color: grey;
}

.trip-info:hover {
  /* background-color: red; */
  /* filter: brightness(85%); */
  /* opacity: .5; */
}

.trip-div:hover {
  -webkit-filter: brightness(125%);

}

.bottom-span {
  display: block;
}

.trip-info {
  padding-top: 25px;
}
